:root {
  --bg-color: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --bg-secondary: hsl(0, 0%, 93%); 
  --light-red: hsl(3, 86%, 64%);
  --red: hsl(3, 71%, 56%);
  --dark-red: hsl(3, 77%, 44%);
  --secondary: hsl(227, 75%, 14%);
  --text-color: hsl(226, 11%, 37%);
  --base-color: hsl(200, 60%, 99%);
  --border-color: hsl(217, 61%, 90%);
  --red-variant: var(--dark-red);
}

.darkmode {
  --bg-color: linear-gradient(180deg, #040918 0%, #091540 100%);
  --base-color: hsl(226, 25%, 17%);
  --secondary: hsl(0, 0%, 93%);
  --border-color: hsl(226, 11%, 37%);
  --text-color: hsl(226, 9%, 53%);
  --bg-secondary: var(--border-color);
  --red-variant: var(--light-red)
}

@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf");
}

body {
  background: var(--bg-color);
  width: 80%;
  /* height: 100vh; */
  margin: 0 auto;
  padding-top: 3vh;
  font-family: "Noto Sans";
}

button {
  transition: 500ms;
}

button:active,
button:focus-visible {
  outline-offset: 2px;
  outline: 3px solid var(--red);
}

header {
  background-color: var(--base-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(57, 56, 56, 0.08);
}

header button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--bg-secondary);
}

header button:hover {
  background-color: var(--text-color);
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0vh;
}

nav h2,
.extension-name {
  color: var(--secondary);
}

nav button,
.remove-btn {
  color: var(--secondary);
  padding: 8px 15px;
  border-radius: 30px;
  border: 2px solid var(--border-color);
  font-size: 18px;
  background-color: var(--base-color);
  box-shadow: 0 4px 6px rgba(57, 56, 56, 0.08);
}

nav button:hover {
  opacity: 0.5;
  cursor: pointer;
}

nav button + button {
  margin-left: 10px;
}

.active-button {
  background-color: var(--red-variant);
  color: var(--base-color);
  box-shadow: none;
  border: none;
}

.extension-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin-bottom: 40px;
}

.extension-card {
  height: 150px;
  padding: 10px;
  background-color: var(--base-color);
  border: 1px solid var(--border-color);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(57, 56, 56, 0.08);
  position: relative;
}

.card-header {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 3vh; */
}

.extension-description {
  width: 80%;
}

img {
  width: fit-content;
  height: fit-content;
}

.extension-name {
  margin: 0px;
}

.extension-description > p {
  margin-top: 5px;
  color: var(--text-color);
}

.card-footer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 15px;
}

.remove-btn {
  font-size: 0.9em;
  font-weight: 600;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid hsl(0, 0%, 78%);
}

.darkmode .remove-btn {
  border: 1px solid var(--border-color);
}

.remove-btn:hover {
  background-color: var(--red);
  cursor: pointer;
  color: #fff;
}

.toggle {
  display: block;
  background-color: #d4d4d4;
  width: 40px;
  height: 20px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

.toggle::before {
  content: " ";
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  margin: 2px;
  transition: 0.2s;
}

input:checked + .toggle {
  background-color: var(--red-variant);
}

input:checked + .toggle::before {
  transform: translateX(20px);
}

input {
  display: none;
}
